* {
  padding: 0;
  margin: 0;
  font-weight: 600;
}

h1 {
  font-size: 30px;
  color: green;
  margin: 1em;
  text-align: center;
}

.calculator {
  display: grid;
  gap: 12px;
  padding: 2.5em;
  margin: 1em auto;
  background-color: rgb(255, 253, 253);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  grid-template-columns: repeat(5, 1fr);
  width: 300px;
  border-radius: 12px;
}

.calculator > div {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 7px;
}

div.calculator > div:nth-child(1) {
  justify-content: flex-start;
  padding:0 1em;
  background-color: white;
  grid-column: span 5;
  color:black;
}

.calculator > div:nth-child(5n + 1) {
  background-color: black;
  color: white;
}

.calculator > div:nth-child(5n) {
   background-color: black;
   color: white;
 }
 
.calculator > div:nth-child(6) {
  background-color: red;
  color: white;
}

.calculator > div:nth-child(19) {
  background-color: black;
  color: white;
}

.calculator > div:nth-child(18) {
   background-color: black;
   color: white;
 }

.calculator > div:nth-child(5) {
   background-color: white;
   color: red;
   border:1px solid rgba(255,0,0,0.5);
 }

.calculator > div:nth-child(n):hover {
  background-color: rgba(151, 150, 150, 0.4);
}

.calculator > div:nth-child(1):hover {
  background-color: white;
}

.calculator > div:nth-child(5):hover {
   background-color: rgba(255,0,0,0.05)
 }
  
 .calculator > div:nth-child(21) {
  background-color: green;
  color: white;
}